name: build
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java-version: [ 8, 11, 12, 13, 14, 15, 16, 17 ]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: ${{ matrix.java-version }}
      # delete gradle.properties in Java 8 because it contains a then-unsupported JVM argument: --add-exports
      - run: rm gradle.properties
        if: ${{ matrix.java-version == 8 }}
      - run: ./gradlew assemble check --info
  android_tests:
    runs-on: macos-latest
    strategy:
      matrix:
        api-version: [16,19,23,29]
    steps:
      - uses: actions/checkout@v2
      
      # AFAIK Android doesn't support --add-exports
      - run: rm gradle.properties
      - name: Android tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: ${{ matrix.api-version }}
          script: ./gradlew connectedAndroidTest --info
