name: build
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java-version: [ 8, 11, 17 ]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: ${{ matrix.java-version }}
      # delete gradle.properties in Java 8 because it contains a then-unsupported JVM argument: --add-exports
      - run: rm gradle.properties
        if: ${{ matrix.java-version == 8 }}
      - run: ./gradlew assemble check --info