name: build
on:
  push:
    branches: [ master ]
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java-version: [ 8, 11, 17, 21 ]
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          # Being in the last position, the latest JDK is used by default to build, the version from the matrix is made
          # available to run the tests, to check compatibility.
          java-version: |
            ${{ matrix.java-version }}
            21
      - run: ./gradlew assemble check --info
        env:
          TEST_JAVA_TOOLCHAIN: ${{ matrix.java-version }}